        </div>
    </div>
</div>
</section>
<!-- /.content --> 
<!-- /.content-wrapper -->

<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Administrator</b>
    </div>
  <strong>Copyright &copy; 2018 San Roque Supermarket</strong>
</footer>

</div>
<!-- ./wrapper -->

<script src="/assets/admin_temp/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/assets/admin_temp/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/admin_temp/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/assets/admin_temp/bower_components/fastclick/lib/fastclick.js"></script>
<script src="/assets/admin_temp/dist/js/adminlte.min.js"></script>
<script src="/assets/admin_temp/dist/js/demo.js"></script>
<script src="/assets/admin_temp/dist/js/angular.min.js"></script>
<script src="/assets/admin_temp/dist/js/angular.sanitize.js"></script>
<script src="/assets/admin_temp/dist/js/paging.js"></script>
<script src="/assets/admin_temp/dist/js/sweet_alert.js"></script>
<script src="/assets/admin_temp/dist/js/socket_io.js"></script>
<script src="/assets/admin_temp/dist/js/moment.min.js"></script>
<script src="/assets/admin_temp/dist/js/global.js"></script>